<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="computer" connectionString="Data Source=DESKTOP-NEUQAJ1\SQLEXPRESS;Initial Catalog='book store';Integrated Security=True;Encrypt=True;Trust Server Certificate=True" />
	</connectionStrings>
</configuration>